<%@ tag language="java" pageEncoding="UTF-8" body-content="empty"%><%@ taglib
	prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<!-- Main Footer -->
<footer class="main-footer">
	<!-- To the right -->
	<div class="pull-right hidden-xs">Anything you want</div>
	<!-- Default to the left -->
	<strong>Copyright &copy; 2016 <a href="#">Company</a>.
	</strong> All rights reserved.
</footer>