/* sarabun-300 - latin_thai */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/sarabun-v7-latin_thai-300.eot'); /* IE9 Compat Modes */
  src: local('Sarabun Light'), local('Sarabun-Light'),
       url('../fonts/sarabun-v7-latin_thai-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/sarabun-v7-latin_thai-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/sarabun-v7-latin_thai-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/sarabun-v7-latin_thai-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/sarabun-v7-latin_thai-300.svg#Sarabun') format('svg'); /* Legacy iOS */
}
/* sarabun-300italic - latin_thai */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/sarabun-v7-latin_thai-300italic.eot'); /* IE9 Compat Modes */
  src: local('Sarabun Light Italic'), local('Sarabun-LightItalic'),
       url('../fonts/sarabun-v7-latin_thai-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/sarabun-v7-latin_thai-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/sarabun-v7-latin_thai-300italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/sarabun-v7-latin_thai-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/sarabun-v7-latin_thai-300italic.svg#Sarabun') format('svg'); /* Legacy iOS */
}
/* sarabun-regular - latin_thai */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/sarabun-v7-latin_thai-regular.eot'); /* IE9 Compat Modes */
  src: local('Sarabun Regular'), local('Sarabun-Regular'),
       url('../fonts/sarabun-v7-latin_thai-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/sarabun-v7-latin_thai-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/sarabun-v7-latin_thai-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/sarabun-v7-latin_thai-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/sarabun-v7-latin_thai-regular.svg#Sarabun') format('svg'); /* Legacy iOS */
}
/* sarabun-italic - latin_thai */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/sarabun-v7-latin_thai-italic.eot'); /* IE9 Compat Modes */
  src: local('Sarabun Italic'), local('Sarabun-Italic'),
       url('../fonts/sarabun-v7-latin_thai-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/sarabun-v7-latin_thai-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/sarabun-v7-latin_thai-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/sarabun-v7-latin_thai-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/sarabun-v7-latin_thai-italic.svg#Sarabun') format('svg'); /* Legacy iOS */
}
/* sarabun-600italic - latin_thai */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/sarabun-v7-latin_thai-600italic.eot'); /* IE9 Compat Modes */
  src: local('Sarabun SemiBold Italic'), local('Sarabun-SemiBoldItalic'),
       url('../fonts/sarabun-v7-latin_thai-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/sarabun-v7-latin_thai-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/sarabun-v7-latin_thai-600italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/sarabun-v7-latin_thai-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/sarabun-v7-latin_thai-600italic.svg#Sarabun') format('svg'); /* Legacy iOS */
}
/* sarabun-600 - latin_thai */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/sarabun-v7-latin_thai-600.eot'); /* IE9 Compat Modes */
  src: local('Sarabun SemiBold'), local('Sarabun-SemiBold'),
       url('../fonts/sarabun-v7-latin_thai-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/sarabun-v7-latin_thai-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/sarabun-v7-latin_thai-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/sarabun-v7-latin_thai-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/sarabun-v7-latin_thai-600.svg#Sarabun') format('svg'); /* Legacy iOS */
}
/* sarabun-700 - latin_thai */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/sarabun-v7-latin_thai-700.eot'); /* IE9 Compat Modes */
  src: local('Sarabun Bold'), local('Sarabun-Bold'),
       url('../fonts/sarabun-v7-latin_thai-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/sarabun-v7-latin_thai-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/sarabun-v7-latin_thai-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/sarabun-v7-latin_thai-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/sarabun-v7-latin_thai-700.svg#Sarabun') format('svg'); /* Legacy iOS */
}