<%@ tag language="java" pageEncoding="UTF-8"%><%@
attribute name="name" type="java.lang.String" required="true"%><%@ 
taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%><i class="fa fa-${name}"></i>&nbsp;